# environment setup
SKIP_ENV_VALIDATION='false'

# keep Neon credentials secure: do not expose them to client-side code
DATABASE_URL=''

# authentication server
BETTER_AUTH_SECRET=''
BETTER_AUTH_URL='' # Base URL of your app
