# environment setup
SKIP_ENV_VALIDATION=''
NODE_ENV=''
NEXT_PUBLIC_BASE_URL=''

# database - keep Neon credentials secure: do not expose them to client-side code
DATABASE_URL=''

# authentication server
BETTER_AUTH_SECRET=''
BETTER_AUTH_URL='' # Base URL of your app

GITHUB_CLIENT_ID=''
GITHUB_CLIENT_SECRET=''

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
